# OpenAI Configuration
OPENAI_API_KEY=""

OPENAI_MODEL=gpt-4o

# Firebase Configuration
FIREBASE_CREDENTIALS_PATH=""
FIRESTORE_PROJECT_ID=""

# API Configuration
API_TITLE=Jarvis Backend API
API_VERSION=1.0.0
API_DESCRIPTION=Backend para sistema de chat con agentes de IA

# CORS Configuration (separar múltiples orígenes con comas)
ALLOWED_ORIGINS=http://localhost:3000,https://localhost:3000,https://yourdomain.com

# Zilliz credentials - Replace with your actual values
ZILLIZ_CLOUD_URI=""
ZILLIZ_CLOUD_TOKEN=""
AGENTS_COLLECTION={"agent_1":"agent_1_collection", "agent_2":"agent_2_collection", "agent_3":"agent_3_collection"}


GOOGLE_APPLICATION_CREDENTIALS=sample_google_authentication.json
GCS_BUCKET=sample_bucket